.headerWrap {
  grid-area: head;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 10px 0 10px;
  background-color: #4C5866;
  border: 1px solid #464646;
  border-radius: 10px;

  .headLogo {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    transition: .3s;
    color: #afafaf;

    &:hover {
      color: #33ff00;
    }
  }

  .headContent {
    margin-right: 50px;
    font-size: 20px;
    color: #33FF00;
  }
}