.navWrap {
  grid-area: nav;

  margin: 10px;
  font-size: 18px;
  background-color: #4c5866;
  border: 1px solid #464646;
  border-radius: 10px;

  .navContent {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 20px;

    .link {
      display: flex;
      text-decoration: none;
      align-items: center;
      margin-bottom: 10px;
      transition: .3s;
      color: #33ff00;

      .navIcon {
        margin-right: 10px;
      }

      .navText { }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: #99CC33;
      }
    }
  }
}