.infoWrap {
  margin: 10px 10px 0 10px;

  .infoItem {
    display: flex;
    margin-bottom: 20px;
    align-items: center;

    .itemTitle {
      width: 25%;
      font-weight: lighter;
      font-size: 13px;
      text-transform: uppercase;
    }

    .itemDescription {
      width: 75%;
      font-size: 20px;
      color: #33FF00;

      .descriptionText {
        font-size: 14px;
        white-space: pre-wrap;
      }
    }
  }


}